div .row{
	margin-right: 0px;
}

* {
  box-sizing: border-box;
  margin: 0;
 
}

p{
  font-size: 50px;
  border-width: 40px;
}
.texto{
	color: white;
	font-size: 80px;
}
/*Para modidicar el color de los  apartados del menú de la página*/
.navbar-light .navbar-nav .nav-link {

	text-shadow: 1px 1px 5px rgb(255, 255, 255), 0 0 1em #000000, 0 0 0.2em rgb(141, 141, 141);
    color: #00d2ff;
}


body {
  background-color: #000000;
  background-image: linear-gradient(to right, #252529 0%, #3a7bd5 100%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0px;
  
}

div .col-lg-12 {
    padding-right: 0px;

	
}

/*Por la derecha no se pone bien*/
div.row{
    margin-right: 0px;
	border-width: 40px;
	
 }
 /*Secciones del menú*/
 div.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
	font-size: 25px;
	
 }



/*
*
* ==============
* HEADER 
* ==============
*
*/
.text-small {
  font-size: 0.9rem !important;
}

.header {
  background-color: #000000;
  background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 100%);
  
}
.section-1, .section-2, .section-3, .section-4{
  margin:100px 0px;
	
} 
.section-1 {
  background: #ffffff;
  background-image: url("banner1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.section-2 {
  background: #ffffff;
  background-image: url("banner2.png");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.section-3 {
  background: #ffffff;
  background-image: url("banner3.png");
  background-repeat: no-repeat;
  background-size: cover;
}


.section-4 {
  background: rgb(255, 255, 255);
  background-image: url("banner4.png");
  background-repeat: no-repeat;
  background-size: cover;

}



/*
=====================
CARRUSEL
===================
*/




.textito{
	font-size: 20px;
	color: white;
}

.textito2{
	font-size: 20px;
	color: rgb(0, 0, 0);
}

body {
	font-family: "Open Sans", sans-serif;
}
h2 {
	color: rgb(255, 255, 255);
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	position: relative;
	margin: 30px 0 60px;
	padding: 20px 0px;
}

.h2-2{
	color: black;
}

h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #ffffff;
	left: 0;
	right: 0;
	bottom: 10px;
}
.h2-2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #000000;
	left: 0;
	right: 0;
	bottom: 10px;
}




.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	padding: 0 70px;
}

/*Texto de los comentarios slider*/
.carousel .carousel-item {
	color: rgb(255, 248, 248);
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	min-height: 290px;
}
.carousel .carousel-item .img-box {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid rgb(255, 249, 249);
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
	color: rgb(255, 255, 255);
	font-family: 'EB Garamond';
	font-size: 25px;
}

.carousel .overview {	
	font-style: italic;
}

.carousel-control-prev, .carousel-control-next {
	width: 40px;
	height: 40px;
	margin-top: -20px;
	top: 50%;
	background: none;
	padding-top: 95px;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 68px;
	line-height: 42px;
	position: absolute;
	display: inline-block;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel-indicators {
	bottom: -40px;
}

/*
=====================
FIN CARRUSEL
===================
*/




.header-blue {
	background:linear-gradient(135deg, #172a74, #21a9af);
	background-color:#184e8e;
	padding-bottom:80px;
	font-family:'Source Sans Pro', sans-serif;
  }
  
  @media (min-width:768px) {
	.header-blue {
	  padding-bottom:120px;
	}
  }
  
  .header-blue .navbar {
	background:transparent;
	padding-top:.75rem;
	padding-bottom:.75rem;
	color:#fff;
	border-radius:0;
	box-shadow:none;
	border:none;
  }
  
  @media (min-width:768px) {
	.header-blue .navbar {
	  padding-top:1rem;
	  padding-bottom:1rem;
	}
  }
  
  .header-blue .navbar .navbar-brand {
	font-weight:bold;
	color:inherit;
	
  }
  
  .header-blue .navbar .navbar-brand:hover {
	color:#f0f0f0;
  }
  
  .header-blue .navbar .navbar-collapse {
	border-top:1px solid rgba(255,255,255,0.3);
	margin-top:.5rem;
  }
  
  @media (min-width:768px) {
	.header-blue .navbar .navbar-collapse {
	  border-color:transparent;
	  margin:0;
	}
  }
  
  .header-blue .navbar .navbar-collapse span .login {
	color:#d9d9d9;
	margin-right:.5rem;
	text-decoration:none;
  }
  
  .header-blue .navbar .navbar-collapse span .login:hover {
	color:#fff;
  }
  
  .header-blue .navbar .navbar-toggler {
	border-color:rgba(255,255,255,0.3);
  }
  
  .header-blue .navbar .navbar-toggler:hover, .header-blue .navbar-toggler:focus {
	background:none;
  }
  
  .header-blue .navbar .navbar-nav a.active, .header-blue .navbar .navbar-nav > .show .dropdown-item {
	background:none;
	box-shadow:none;
  }
  
  @media (min-width: 768px) {
	.header-blue .navbar-nav .nav-link {
	  padding-left:.7rem;
	  padding-right:.7rem;
	}
  }
  
  @media (min-width: 992px) {
	.header-blue .navbar-nav .nav-link {
	  padding-left:1.2rem;
	  padding-right:1.2rem;
	}
  }
  
  .header-blue .navbar .navbar-nav > li > .dropdown-menu {
	margin-top:-5px;
	box-shadow:0 4px 8px rgba(0,0,0,.1);
	background-color:#fff;
	border-radius:2px;
  }
  
  .header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item {
	line-height:2;
	color:#37434d;
  }
  
  .header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item:hover {
	background:#ebeff1;
  }
  
  .header-blue .action-button, .header-blue .action-button:not(.disabled):active {
	border:1px solid rgba(255,255,255,0.7);
	border-radius:40px;
	color:#ebeff1;
	box-shadow:none;
	text-shadow:none;
	padding:.3rem .8rem;
	background:transparent;
	transition:background-color 0.25s;
	outline:none;
  }
  
  .header-blue .action-button:hover {
	color:#fff;
  }
  
  .header-blue .navbar .form-inline label {
	color:#d9d9d9;
  }
  
  .header-blue .navbar .form-inline .search-field {
	display:inline-block;
	width:80%;
	background:none;
	border:none;
	border-bottom:1px solid transparent;
	border-radius:0;
	color:#ccc;
	box-shadow:none;
	color:inherit;
	transition:border-bottom-color 0.3s;
  }
  
  .header-blue .navbar .form-inline .search-field:focus {
	border-bottom:1px solid #ccc;
  }
  
  .header-blue .hero {
	margin-top:20px;
	text-align:center;
  }
  
  @media (min-width:768px) {
	.header-blue .hero {
	  margin-top:60px;
	  text-align:left;
	}
  }
  
  .header-blue .hero h1 {
	color:#fff;
	font-size:40px;
	margin-top:0;
	margin-bottom:15px;
	font-weight:300;
	line-height:1.4;
  }
  
  @media (min-width:992px) {
	.header-blue .hero h1 {
	  margin-top:190px;
	  margin-bottom:24px;
	  line-height:1.2;
	}
  }
  
  .header-blue .hero p {
	color:rgba(255,255,255,0.8);
	font-size:20px;
	margin-bottom:30px;
	font-weight:300;
  }
  
  .header-blue .phone-holder {
	text-align:right;
  }
  
  .header-blue div.iphone-mockup {
	position:relative;
	max-width:300px;
	margin:20px;
	display:inline-block;
  }
  
  .header-blue .iphone-mockup img.device {
	width:100%;
	height:auto;
  }
  
  .header-blue .iphone-mockup .screen {
	position:absolute;
	width:88%;
	height:77%;
	top:12%;
	border-radius:2px;
	left:6%;
	border:1px solid #444;
	background-color:#aaa;
	overflow:hidden;
	background:url(../../assets/img/screen-content-iphone-6.jpg);
	background-size:cover;
	background-position:center;
  }
  
  .header-blue .iphone-mockup .screen:before {
	content:'';
	background-color:#fff;
	position:absolute;
	width:70%;
	height:140%;
	top:-12%;
	right:-60%;
	transform:rotate(-19deg);
	opacity:0.2;
  }
  
  

  .video{
	width: 100%;
  }


  .li{
	color: #00d2ff;
  }

  .fondotexto{
	height: 200px;
	margin: 20px;
	border: 5px solid;
	background-color: #FBD603;
    
  }


  /*FOOTER*/
  .footer-basic {
	height: 100%;
	padding:20px 0;
	background-color:#ffffff;
	color:#252525;
  }
  
  .footer-basic ul {
	padding:0;
	list-style:none;
	text-align:center;
	font-size:18px;
	line-height:1.6;
	margin-bottom:0;
  }
  
  .footer-basic li {
	padding:0 10px;
  }
  
  .footer-basic ul a {
	color:inherit;
	text-decoration:none;
	opacity:0.8;
	
  }
  
  .footer-basic ul a:hover {
	opacity:1;
  }
  
  .footer-basic .social {
	text-align:center;
	padding-bottom:25px;
  }
  
  .footer-basic .social > a {
	font-size:14px;
	width: 40px;
	height:40px;
	line-height:40px;
	display:inline-block;
	text-align:center;
	border-radius:50%;
	border:1px solid #ccc;
	margin:0 8px;
	color:inherit;
	opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
	opacity:0.9;
  }
  
  .footer-basic .copyright {
	margin-top:15px;
	text-align:center;
	font-size:13px;
	color:#aaa;
	margin-bottom:0;
	
  }

  .a-T{
	font-size: 0px;
  }